* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Akaya Kanadaka', cursive;
}

body {
  background-color: red;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.flexbox-container {
  display:flex;
  justify-content: flex-start;
}

           /*Navbar CSS*/

nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: black;
  width: 300px;
  max-height: calc(100vh - 100px);
  z-index: 999;
  overflow: auto;
}

.logo {
  width: 180px;
  height: auto;
}

nav img {
  width: 30px;
  height: auto;
}

nav ul li {
  margin: 20px 20px;
}
nav ul li a {
  color: #9c9c9c;
  font-size: 25px;
}

nav ul li a:hover,
ul.scroll li span:hover,
main ul.setting li a:hover,
nav div a:hover  {
  color: white;
}

nav ul li a img {
  vertical-align: bottom;
}

ul li h3{
  color: white;
  font-size: 25px;
}

ul.scroll li div {
  padding: 10px;
  background-color: white;
  width: 30px;
  height: 30px;
  line-height: 10px;
  font-size: 20px;
  display: inline-block;
}

ul.scroll li span {
  color: #9c9c9c;
  margin-left: 25px;
  font-size: 20px;
}

nav div a {
color: #9c9c9c;
font-size: 25px;
vertical-align: top;
}

hr {
  margin: 10px 0;;
  color: #9c9c9c;
}

#fix {
  margin-left: 30px;
}

           /*Header CSS*/

header {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 100px;
  background-color: #293133;
  position: fixed;
  top: 0;
  z-index: 998;
}

header button {
  width: 200px;
  height: 50px;
  margin-top: 25px;
  margin-right: 20px;
  border-radius: 25px;
  font-size: 15px;
  background-color: #293133;
  border: 3px solid white;
  color: white;
}

header button:hover {
  transform: scale(1.2);
}

           /*Main CSS*/
main {
  padding-top: 100px;
  width: 100%;
  padding-left: 40px;
  padding-right: 40px;
  height: calc(100vh - 100px);
  background-color: #231a24;
  overflow: auto;
}

main ul {
  display: flex;
  justify-content: center;
}

main ul.setting, main ul.setting li {
  padding: 10px 15px;
}

main ul.setting li a {
  color: #9c9c9c;
  font-size: 20px;
}
           /*Section1 CSS*/

section ul.mylist1{
  display: flex;
  justify-content: space-between;
}

section ul.mylist1 li,
section ul.mylist2 li,
section ul.mylist3 li {
  flex-basis: calc(100% / 6 - 25px);
}

section h2{
  color: white;
  font-size: 40px;
}

.box {
  position: relative;
}

.layover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  display: none;
}

li div.box i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate( -50%, -50%);
  color: yellow;
  font-size: 60px;
  display: none;
}

.box:hover div.layover,
.box:hover i {
  display:block;
}

ul.mylist3 .box:hover div.layover{
  border-radius: 50%;
}

section ul.mylist1 li img,
section ul.mylist2 li img,
section ul.mylist3 li img {
  margin-top: 40px;
  margin-bottom: 20px;
  display: block;
  width: 100%;
  height: auto;
}

section ul.mylist1 li a,
section ul.mylist2 li a,
section ul.mylist3 li a{
  display: block;
  color: white;
  text-align: center;
  font-size: 20px;
}

section ul.mylist1 li a:last-child,
section ul.mylist2 li a:last-child {
  color:  #9c9c9c;
  text-align: center;
  font-size: 20px;
  margin-bottom: 50px;
}

           /*Section2 CSS*/

section ul.mylist2{
  display: flex;
  justify-content: flex-start;
}

section p{
  color:  #9c9c9c;
  font-size: 20px;
  margin: 15px 0;
}

ul.mylist2 li {
  margin-right: 50px;
}

section ul.mylist2{
  display: flex;
  justify-content: flex-start;
}

           /*Section3 CSS*/
section ul.mylist3{
  display: flex;
  justify-content: flex-start;
}


section ul.mylist3 li img {
  border-radius: 50%;
}

  ul.mylist3 li {
    margin-right: 50px;
  }

           /*Footer-player CSS*/

footer {
  background-color: #293133;
  height: 100px;
  width: 100%;
}

ul.myplayer {
  display: flex;
  justify-content: center;
}

ul.myplayer i {
  width: 40px;
  color: white;
  font-size: 25px;
  margin-top: 15px;
  margin-right: 5px;
}

ul.myplayer i:hover {
  color: yellow
}
           /*Footer-menu CSS*/

ul.myfooter1 {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  align-items: center;
}

ul.myfooter1 img {
  width: 50px;
  height: 50px;
  margin-left: 10px;
}

ul.myfooter1 li strong {
  color: white;
}

ul.myfooter1 li {
  color:  #9c9c9c;
}

ul.myfooter1 li div{
  height: 2px;
}

li span hr {
  width: 200px;
  height: 1px;
  color: white;
}

.line {
  width: 100px;
  height: 2px;
  border-bottom: 2px solid white;
  display: inline-block;
}

#linefix {
  width: 400px;
}

ul.myfooter1 li ul {
  display: inline-block;
}

ul.myfooter1 > li ul {
  margin-left: 10px;
  margin-right: 50px;
}

#undertheplayer {
  margin-right: 70px;

}

li#undertheplayer span {
  margin: 0 5px;
}

ul.myfooter1 li i {
  margin-right: 10px;
}

ul.myfooter1 li i:hover {
  color: white;
}

ul.myfooter1 li:last-child:hover {
  color: white;
  text-decoration: underline;
}

#linefix:hover {
  border-bottom: 2px solid #1ED760;
}


@media (max-width: 1200px) AND (min-width: 998px) {

  section ul.mylist1,
  section ul.mylist2,
  section ul.mylist3 {
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  section ul.mylist1 li,
  section ul.mylist2 li,
  section ul.mylist3 li {
    flex-basis: calc(100% / 4 - 20px);
    margin-right: 20px;
  }

}


@media (max-width: 998px) AND (min-width: 768px) {

  section ul.mylist1,
  section ul.mylist2,
  section ul.mylist3 {
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  section ul.mylist1 li,
  section ul.mylist2 li,
  section ul.mylist3 li {
    flex-basis: calc(100% / 2 - 20px);
    margin-right: 20px;
  }
}

@media (max-width: 768px) {

  section ul.mylist1,
  section ul.mylist2,
  section ul.mylist3 {
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  section ul.mylist1 li,
  section ul.mylist2 li,
  section ul.mylist3 li {
    flex-basis: calc(100% / 2 - 20px);
    margin-right: 20px;
  }
  
}
