* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Akaya Kanadaka', cursive;
}

body {
  background-color: red;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.flexbox-container {
  display:flex;
  justify-content: flex-start;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: black;
  width: 300px;
  max-height: calc(100vh - 100px);
  z-index: 999;
  overflow: auto;
}

.logo {
  width: 180px;
  height: auto;
}

nav img {
  width: 30px;
  height: auto;
}

nav ul li {
  margin: 20px 20px;
}
nav ul li a {
  color: #9c9c9c;
  font-size: 25px;
}

nav ul li a img {
  vertical-align: bottom;
}

ul li h3{
  color: white;
  font-size: 25px;
}

.scroll {
}

li div {
  padding: 10px;
  background-color: white;
  width: 30px;
  height: 30px;
  line-height: 10px;
  font-size: 20px;
  display: inline-block;
}

li span {
  color: #9c9c9c;
  margin-left: 25px;
  font-size: 20px;
}

nav div a {
color: #9c9c9c;
font-size: 25px;
vertical-align: top;
}

hr {
  margin: 10px 0;;
  color: #9c9c9c;
}

#fix {
  margin-left: 30px;
}

header {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 100px;
  background-color: #293133;
  position: fixed;
  top: 0;
  z-index: 998;
}

header button {
  width: 200px;
  height: 50px;
  margin-top: 25px;
  border-radius: 25px;
  font-size: 15px;
  background-color: #293133;
  border: 3px solid white;
  color: white;
}

main {
  padding-top: 100px;
  display: flex;
  width: 100%;
  height: calc(100vh - 100px);
  background-color: #737373;
}

footer {
  background-color: #293133;
  height: 100px;
  width: 100%;
}
