* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Akaya Kanadaka', cursive;
}

body {
  background-color: red;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.flexbox-container {
  display:flex;
  justify-content: flex-start;
}

           /*Navbar CSS*/

nav {
  display: flex;
  flex-direction: column;
  background-color: black;
  width: 300px;
  height: calc(100vh - 100px);
  position:fixed;
  z-index: 950;
}

.logo-xs {
  width: 30px;
  height: auto;
  margin-left: 10px;
  margin-top: 5px;
  display: none;
}

.logo {
  width: 180px;
  height: auto;
}

nav img {
  width: 30px;
  height: auto;
}

nav ul li {
  margin: 5px 10px;
  position: relative;
}

nav ul li a {
  color: #9c9c9c;
  font-size: 20px;
}

.green-border {
  height: 30px;
  width: auto;
  border-left: 4px solid green;
  border-radius: 5px;
  position: absolute;
  top: 0;
  left: -15px;
}

nav ul li a:hover,
ul.scroll li span:hover,
main ul.setting li a:hover,
nav div a:hover  {
  color: white;
}

nav ul li a img {
  vertical-align: bottom;
}

ul li h3{
  color: white;
  font-size: 25px;
}

nav div:first-child {
  flex-grow: 1;
}
ul.scroll {
  overflow: auto;
  height: 30vh;
}

nav div ul li:last-child div {
  padding: 10px;
  background-color: white;
  width: 30px;
  height: 30px;
  line-height: 10px;
  font-size: 20px;
  display: inline-block;
}

nav div ul li:last-child span {
  color: #9c9c9c;
  margin-left: 10px;
  font-size: 20px;
}

nav div a {
color: #9c9c9c;
font-size: 25px;
vertical-align: top;
}

hr {
  margin: 10px 0;;
  color: #9c9c9c;
}

#fix {
  margin-left: 30px;
}

           /*Header CSS*/

header {
  display: flex;
  justify-content: flex-end;
  width: calc(100% - 300px);
  margin-left: 300px;
  height: 100px;
  background-color: #293133;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 900;
}

header button {
  width: 200px;
  height: 50px;
  margin-top: 25px;
  margin-right: 20px;
  border-radius: 25px;
  font-size: 15px;
  background-color: #293133;
  border: 3px solid white;
  color: white;
}

header button:hover {
  transform: scale(1.2);
}

           /*Main CSS*/
main {
  padding-top: 100px;
  width: calc(100% - 300px);
  margin-left: 300px;
  padding-left: 40px;
  padding-right: 40px;
  height: calc(100vh - 100px);
  background-color: #231a24;
  overflow: auto;
}

main ul {
  display: flex;
  justify-content: center;
}

main ul.setting li {
  margin: 20px 20px;
  position: relative;
}

ul.setting li div {
  width: 50px;
  height: 5px;
  background-color: green;
  border-radius: 10px;
  margin: 10px auto 0;
}

main ul.setting li a {
  color: #9c9c9c;
  font-size: 18px;
}
           /*Section1 CSS*/

section h2{
  color: white;
  font-size: 40px;
}

section ul.mylist1{
  display: flex;
  justify-content: space-between;
}

section ul.mylist1 li,
section ul.mylist2 li,
section ul.mylist3 li {
  flex-basis: calc(100% / 6 - 25px);
}

.box {
  position: relative;
}

section ul.mylist1 li img,
section ul.mylist2 li img,
section ul.mylist3 li img {
  margin-top: 40px;
  margin-bottom: 20px;
  display: block;
  width: 100%;
  height: auto;
}

.layover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  display: none;
}

li div.box i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate( -50%, -50%);
  color: yellow;
  font-size: 60px;
  display: none;
}

section ul.mylist1 li a,
section ul.mylist2 li a,
section ul.mylist3 li a{
  display: block;
  color: white;
  text-align: center;
  font-size: 20px;
}

.box:hover div.layover,
.box:hover i {
  display:block;
}

ul.mylist3 .box:hover div.layover{
  border-radius: 50%;
}

section ul.mylist1 li a:last-child,
section ul.mylist2 li a:last-child {
  color:  #9c9c9c;
  text-align: center;
  font-size: 20px;
  margin-bottom: 50px;
}

           /*Section2 CSS*/

section ul.mylist2{
  display: flex;
  justify-content: flex-start;
}

section p{
  color:  #9c9c9c;
  font-size: 20px;
  margin: 15px 0;
}

ul.mylist2 li {
  margin-right: 50px;
}

section ul.mylist2{
  display: flex;
  justify-content: flex-start;
}

           /*Section3 CSS*/
section ul.mylist3{
  display: flex;
  justify-content: flex-start;
}


section ul.mylist3 li img {
  border-radius: 50%;
}

  ul.mylist3 li {
    margin-right: 50px;
  }

           /*Footer-player CSS*/

footer {
  background-color: #293133;
  height: 100px;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 999;
}

div.myplayer {
  text-align: center;
}

div.myplayer i {
  width: calc(100% / 5 - 30px);
  color: white;
  font-size: 25px;
  min-width: 30px;
}

div.myplayer i#scale:hover {
  transform: scale(1.4);
}

div.myplayer i:hover {
  color: yellow
}
           /*Footer-menu CSS*/

ul.myfooter1 {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  align-items: center;
  height: 100%;
}

ul.myfooter1 li {
  flex-basis: 25%;
}

div.undertheplayer span {
  width: 10%;
}

ul.myfooter1 img {
  width: calc(10% + 10px);
  min-width: 42px;
}

ul.myfooter1 > li ul {
  padding: 0 10px;
  margin-right: 3%;
}

ul.myfooter1 li strong {
  color: white;
}

ul.myfooter1 li {
  color:  #9c9c9c;
  margin-top: 0.2%;
}

ul.myfooter1 li.align {
  display:flex;
  align-items: center;
}

li.align i {
  margin: 0 5px;
}

li.align i:hover {
  color: white;
}

.line {
  width: 50%;
  height: 5px;
  background-color: grey;
  display: inline-block;
  border-radius: 2.5px;
  position: relative;
}

.line-absolute {
  width: 40%;
  height: 5px;
  background-color: white;
  border-radius: 50px;
  position: absolute;
  top: 0;
  left: 0;
}

.circle {
  width: 10px;
  height: 10px;
  background-color: white;
  display: none;
  border-radius: 50%;
  position: absolute;
  top: -2.5px;
  right: -5px;
}

div.line:hover .line-absolute{
  background-color: green;
}

 div.line:hover .circle {
  display: block;
}

#linefix {
  width: 35%;
}

ul.myfooter1 li ul {
  display: inline-block;
}

ul.myfooter1 li div.undertheplayer {
  text-align: center;
}

li.volume {
  text-align: right;
  min-width: 120px;
}

ul.myfooter1 li:last-child:hover {
  color: white;
  text-decoration: underline;
}


@media (max-width: 1200px) AND (min-width: 998px) {

  main ul.setting {
    flex-wrap: wrap;
  }

  section ul.mylist1,
  section ul.mylist2,
  section ul.mylist3 {
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  section ul.mylist1 li,
  section ul.mylist2 li,
  section ul.mylist3 li {
    flex-basis: calc(100% / 4 - 20px);
    margin-right: 20px;
  }

}


@media (max-width: 998px) AND (min-width: 768px) {

  main ul {
    flex-wrap: wrap;
  }

  section ul.mylist1,
  section ul.mylist2,
  section ul.mylist3 {
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  section ul.mylist1 li,
  section ul.mylist2 li,
  section ul.mylist3 li {
    flex-basis: calc(100% / 2 - 20px);
    margin-right: 20px;
  }

  #moreflex {
    flex-basis: 50%;
  }

}


@media (max-width: 768px) {

  nav {
    width: 80px;
    justify-content: space-between;
  }

  nav div  ul li a span,
  ul.scroll,
  .logo,
  nav div:last-child a span,
  a#fix,
  nav div ul li:last-child div,
  nav div ul li:last-child span,
  ul li h3  {
    display: none;
  }

  nav div:last-child a img,
  nav div:last-child img {
    margin-left: 20px;
  }

  .logo-xs {
    display: block;
  }

  header {
    margin-left: 80px;
    width: calc(100% - 80px);
  }

  main {
    margin-left: 80px;
    width: calc(100% - 80px);
  }

  main ul.setting {
    flex-wrap: wrap;
  }

  section ul.mylist1,
  section ul.mylist2,
  section ul.mylist3 {
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  section ul.mylist1 li,
  section ul.mylist2 li,
  section ul.mylist3 li {
    flex-basis: calc(100% / 2 - 20px);
    margin-right: 20px;
  }

  div.myplayer i {
    font-size: 20px;
  }

  #moreflex {
    flex-basis: 50%;
    min-width: 250px;
  }

}
